.classes {
    max-height: 90vh;
}

.classes__row{
    display: flex;
    justify-content: space-around;
}

.classCard {
    margin: 0 10px 30px;
    width: 350px;
}

.class__poem{
    height: 80px;
    font-style: italic;
    margin-bottom: 10px;
    margin: auto;
}

.class__description{
    margin-top: 10px;
    height: 100px;
}