.guide__body {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.guide__top {
    display: flex;
    justify-content: center;
}

.guide__content {
    flex: 0.8;
    background: lightgrey;
    border: 1px solid;
    border-radius: 20px;
    padding: -5px;
    height: 90vh;
    margin-top: -35px;
}

.guides{
    flex: 0.2;
    height: 82vh;
    margin-top: -20px;
}

.guide__title {
    background: white;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    max-width: 200px;
    margin-bottom: 15px;
    cursor: pointer;
}

.guide__title:hover{
    background: lightgrey;
}

.webViewer{
    height: 95%;
}

.guide {
    max-height: 70vh;
}

.guide__link{
    display: flex;
    justify-content: space-around;
}

.guides__button {
    display: flex;
    justify-content: center;
    margin: 0 0 20px -50px;
}

.uploadForm__row{
    display: flex;
    justify-content: center;
}